body {
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  &-h1 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &-h4 {
    font-size: px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
